<link href="/css/fidella7.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery-ui-dist@1.12.1/jquery-ui.min.css">
<!--<link rel="stylesheet" href="https://twitter.github.io/typeahead.js/css/main.css">-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-ui-dist@1.12.1/jquery-ui.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/typeahead.js@0.11.1/dist/typeahead.bundle.min.js"></script>
<script src="https://twitter.github.io/typeahead.js/js/handlebars.js"></script>

<!--
<div class='meetPage page leftPage text'>
    <div class='genBar'>
        <button><img class='icon' id='back' src='img/back.png'></button>
        <button id='createMeet'>+</button>
    </div>
    <div class='info' style='text-align: center; padding: 0;'>

        <button data-toggle="modal" data-target="#waitModal">
            <div class="meetCard waiting" style='border-color: #e6e6e6;'><span style="font-family: 'Arial';">Bible Study</span><br>
            waiting for 5 response(s)</div>
        </button>

        <button><div class="meetCard done"><span style="font-family: 'Arial';">9/21 - SCF meeting</span><br>
            @Someone's apt<br>
            Sat 7:00pm-8:00pm</div></button>
    </div>
</div>

<div class='createMeetPage page leftPage text'>
    <div class='genBar'>
        <button><img class='icon' id='back' src='img/back.png'></button>
    </div>
    <div class='info meetStep1'>
        <input id='tcSearch' type='search' placeholder='who? group/user(s)' style='position: absolute; width: 80%;'>
              {{#each possibleriends}}
            <div id="searchResult" style="display: none;" data-toggle="modal" data-target="#fakeAdd">
                <img class="friendPhoto" src="img/friendProfile.png">
                <a class="friendText">{{name}}</a>
                <a class="addFriendButton">
                <img class="addIcon" src="img/addFriendBefore.svg">
                </a>
            </div>
            {{/each}}
        <br><br>
        <div id='resultInfo' style='display: none;'>
            <a href='#' class="user_list" id="user1"><img class='profilePicMeet' src='img/profile.png'></a>
            <a href='#' class="user_list" id="user2"><img class='profilePicMeet' src='img/profile.png'></a>
            <div class='meetGroups'>
                <button class='meetGroupCard'>UCSD SCF</button>
                <button class='meetGroupCard'>DSGN 1 Proj#1</button>
            </div>
        </div>
        <br>
        <div style='text-align: center;'>
            <p><button id='addToGroup'>add to the group</button></p>
            <button id='createGroup'>create a new group</button>
            <p><input id='newGroupName' type='text' placeholder="the new group's name"></p>
            <p><button id='submitGroup' style='display: none;'>submit</button></p>
            <button><img class='icon' id='meetNext' src='img/next.png'></button>
        </div>
    </div>
    <div class='info meetStep2' style='display: none;'>
        <br>
        <form id='tcForm'>
        <input id="tcTitle" type='text' placeholder='Event Title'>
        <br>
        <input id="tcNotes" type='text' placeholder='notes (optional)'>
        <br>
        <input id="tcDuration" type='number' placeholder='how many minutes?'>
        <br><br>
        <p>Date Range (optional)
            <br><input type='date' onfocus="(this.type='date')" onblur="(this.type='text')" placeholder='06/27/2019'>
            <br>to
            <br><input type='date' onfocus="(this.type='date')" onblur="(this.type='text')" placeholder='07/27/2019'>
        </p><br>
        <p>Time Range (optional)
            <br><input type='time' onfocus="(this.type='time')" onblur="(this.type='text')" placeholder='9:00 AM'>
            <br>to
            <br><input type='time' onfocus="(this.type='time')" onblur="(this.type='text')" placeholder='9:00 PM'>
        </p>
        <br><br>
        <div style='text-align: center;'>
            <button id='sendInvi' type='submit'>Tc Them!</button>
        </div>
        </form>
    </div>
</div>
-->

<div class='tcHomePage page leftPage text'>
  <div class='genBar' style="clear: both;">
      <p class="title">TcMeet Events</p>
      <button><img class='icon back' src='img/back.png'></button>     
  </div>
  <div class="info">
    <div class="wrapper">
      <div class="event">
          <div class="members">
              <img class='event_ppt' src='img/profile.png'>
              <img class='event_ppt' src='img/profile.png'>
              <img class='event_ppt' src='img/profile.png'>
              <img class='event_ppt' src='img/profile.png'>
              <div class='event_ppt'>+2</div>
          </div>
          <div class="event_info pending">
              <p class="meeting_name">Meet for Lunch<br>
                  <span class="meeting_detail">Pending: Mark B. and 2 more</span></p>
          </div>
      </div>
      <div class="event">
          <div class="members">
              <img class='event_ppt' src='img/profile.png'>
              <img class='event_ppt' src='img/profile.png'>
              <img class='event_ppt' src='img/profile.png'>
          </div>
          <div class="event_info okay">
              <p class="meeting_name">Cogs 120 Meeting<br>
                  <span class="meeting_detail">Mon | Apr 20 | 11:30am - 12:30pm</span></p>
          </div>
      </div>
      <div class="btn_styling">
          <div id='newTc' class="add_btn">+</div>
      </div>
    </div>
  </div>
</div>

<div class='selectPage page leftPage text'>
    <div class='genBar'>
        <p class="title">New Event</p>
        <button><img class='icon back' src='img/back.png'></button>
    </div>
    <div class='info'>
        <div class="wrapper">
            <div class="ppt" style="display: none">

            </div>
            <div class="border" style="display: none">
            </div>
            <table class="ppt_table">
                <thead class="ppt_thead">
                <tr>
                    <!--                    <th><input type="text" id="tcSearch" placeholder="Schedule with:" onkeyup="searchPpt()"></th>-->
                    <th><input type="text" id="tcSearch" placeholder="Schedule with:"></th>

                </tr>
                </thead>
                <tbody class="ppt_tbody">
                </tbody>
            </table>
            <br><br>
            <div class="btn_styling">
                <button class="create_button">Create a Group</button>
                <button class="next_btn" id="select_next" disabled>Next</button>
            </div>
        </div>
    </div>
</div>


<div class='tmConfirm page leftPage text' style="display: none;">
    <div class='genBar' style="clear: both;">
        <p class="title">New Event</p>
        <button><img class='icon back' src='img/back.png'></button>
        <div class="cancelLabel nonimpt">Cancel</div>
    </div>
    <div class="info">
        <p id="ppt_lbl" class='nonimpt'>Participants</p>
        <div class="confirm_ppt">
        </div>
        <form id="tcForm" class='normalt' oninput="validate()">
            Event Title<span style='color: red'>*</span><br>
            <input type="text" id="tcTitle" name="event"><br>
            <div class='spacing'></div>
            How long would you like to meet?<span style='color: red'>*</span><br>
            <div class="time_select">
                <select name="hr" id="hr">
                    <option value="0" selected>0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <label for="hr" class="normalt">Hr&nbsp;</label>
                <select name="min" id="min">
                    <option value="00" selected>00</option>
                    <option value="15">15</option>
                    <option value="30">30</option>
                    <option value="45">45</option>
                </select>
                <label for="min" class="normalt">Min</label><br>
            </div>
            <div class='spacing'></div>
            Any constraint?<span style='color: red'>*</span> (3-day default)<br>
            <div class="choose_date">
                <input type="text" id="first_date" name="first_date" placeholder="m/d/yyyy" readonly>
                <p style="display: inline;"> - </p>
                <input type="text" id="second_date" placeholder="m/d/yyyy" readonly>
            </div>
            <div class='spacing'></div>
            Notes<br>
            <textarea type="text" id="tcNotes" name="notes" maxlength="60"></textarea><br>
            <div class="subm">
                <input type="submit" id="submit" class='pbutton' value="Send Invites" style="display: none;">
            </div>
        </form>
    </div>
</div>

<script id="tcEmptyResult" type="text/x-handlebars-template">
    <tr>
        <td class='defaultTd'><img class="group_img" src="img/groupImg.png">{{groupName}}</td>
    </tr>

</script>

<script id="tcSearchResult" type="text/x-handlebars-template">
    <tr>
        <td class='resultTd'>
            <div class="table_circle" style="background-image: url(\{{imgUrl}});"></div>
            <span class='userName'>\{{userName}}</span>
            <div class='table_email'>\{{email}}</div>
            <div class='userID' style="display: none;">\{{userID}}</div>
        </td>
    </tr>
</script>

<script src="/js/tcMeet.js"></script>

<script src="/js/userSelect.js"></script>